@import "bootstrap/dist/css/bootstrap.min.css";

.navbar,
footer {
  background-color: #304b41;
}

.navbar-link,
.offcanvas-header,
.footer-text {
  color: white;
}

.navbar-logo {
  max-width: 6rem;
  height: auto;
}

.card-hompage {
  background-color: #689d66;
  color: white;
}

.hero-buttons,
.hero-buttons:hover {
  width: 13em;
  background-color: #689d66;
  color: white;
}

.signUp-btn,
.signUp-btn:hover,
.login-btn,
.login-btn:hover,
.forgot-password-btn,
.forgot-password-btn:hover,
.update-btn,
.update-btn:hover,
.relocate-btn,
.relocate-btn:hover,
.blog-btn,
.blog-btn:hover {
  width: 13em;
  background-color: #3b6d3b;
  color: white;
  border-radius: 2rem;
  border: none;
}

.forgot-password-link {
  color: #3b6d3b;
}

.hero-buttons-container {
  gap: 10rem;
  z-index: 1;
}

.hero-image-wrapper {
  height: 400px;
}

.hero-image {
  z-index: 0;
  object-fit: cover;
}

.hero-overlay {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem 2rem;
  border-radius: 1rem;
  z-index: 2;
}

.offcanvas {
  background-color: #304b41;
}

.offcanvas-links {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  border-top: 1px solid #dddddd93;
  border-bottom: 1px solid #dddddd93;
  transition: background-color 0.3s, color 0.3s;
}

.offcanvas-links:hover {
  color: white;
  background-color: #4a7956;
  font-weight: bolder;
}

.dashboard-links {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: white;
  transition: background-color 0.3s, color 0.3;
}

.dashboard-links:hover {
  background-color: #89d9a8;
  font-weight: bolder;
}

.dashboard-link,
.meny {
  color: black;
}

.logout-page,
.login-page,
.signup-page,
.forgot-password-page,
.update-page,
.blog-page,
.relocate-page,
.full-width-wrapper {
  min-height: 80vh;
  background: linear-gradient(to bottom, #004d40, #66bb6a);
}

.slug-blog-page {
  min-height: 80vh;
}

.login-card,
.logout-card,
.signup-card,
.forgot-password-card,
.update-card,
.relocate-card,
.blog-card {
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.form-control-login {
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.form-control:focus {
  border-color: #2e8b57;
  box-shadow: none;
}

.my-select__option--is-focused {
  background-color: #d4f5d4 !important;
}

.invalid {
  color: red;
}

.alert {
  margin-top: 1.5rem;
}

.card-img-top {
  object-fit: cover;
  height: 15rem;
}

.pets {
  text-transform: uppercase;
  text-align: center;
}

.card-adopt-page,
.card-blog-page,
.card-relocation-page {
  background-color: #375248;
  color: white;
}

.relocations-page {
  min-height: 80vh;
}

.card-slug-page {
  border: none;
}

.chat-page {
  min-height: 80vh;
  background: linear-gradient(to left, #f6fcfa, rgb(57, 136, 123));
}

.chat-links {
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.chat-links:hover {
  background-color: rgba(18, 67, 57, 0.66);
  color: #fff;
}

.chat-links:focus {
  background-color: rgba(18, 67, 57, 0.66);
  color: #fff;
  text-decoration: none;
}

.left-column {
  background-color: rgb(57, 136, 123);
}

.content-container {
  height: 90vh;
}

.messages {
  flex: 1;
  overflow-y: auto;
}

.header-container {
  background-color: #23675f;
  color: white;
}

.message-bubble {
  max-width: 40%;
}

.sent {
  background-color: #a6dad1;
  border-radius: 10px 0px 10px 10px;
  color: #000;
}

.received {
  background-color: #f0f0f0;
  border-radius: 0px 10px 10px 10px;
  color: #000;
}

.chat-btn {
  background-color: rgba(18, 67, 57, 0.66);
  color: white;
  border: none;
}

.msg-to-author-btn {
  width: 16em;
  background-color: #3b6d3b;
  color: white;
  border-radius: 20px;
  border: none;
}

.msg-to-author-btn:disabled {
  color: gray;
  background-color: lightgray;
  cursor: not-allowed;
  opacity: 0.6;
}

.adopt-image {
  width: 80%;
  height: auto;
  object-fit: contain;
  border-radius: 15px;
}

#loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#dropzone-wrapper {
  cursor: pointer;
  background-color: #444;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem 1.25rem;
  border-radius: 4px;
  border: 2px dashed #ccc;
  height: 10em;
  width: 95%;
}

.pagination-button {
  width: 2.5rem;
  height: 2.5rem;
  background: #fff;
  border: 1px solid #ccc;
  color: black;
  border-radius: 50%;
  padding: 0;
  margin: 0 0.5rem;
}

.pagination-button.next .icon-rotate {
  transform: rotate(180deg);
}

.pagination-dots {
  background: none;
  border: none;
  color: #888;
  cursor: default;
}

.pagination-number {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 0;
  margin: 0 0.25rem;
  border: 1px solid #ccc;
  background: none;
}

.pagination-number.active {
  background: linear-gradient(to right, #9bdf9b, #86b286);
  border: none;
  color: white;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.footer-link {
  color: white;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #d3d3d3;
}

[data-bs-theme="dark"] .hero-overlay {
  background: rgba(50, 50, 50, 0.8);
}

[data-bs-theme="dark"] .forgot-password-link,
.meny {
  color: white;
}

[data-bs-theme="dark"] .dashboard-links:hover {
  background-color: #4f986b;
  font-weight: bolder;
}

[data-bs-theme="dark"] .pagination-button {
  background-color: #212529;
}

[data-bs-theme="dark"] .pagination-button.next,
.pagination-button.prev {
  color: white;
}

[data-bs-theme="dark"] .chat-page {
  background: linear-gradient(to left, #212222, rgb(57, 136, 123));
}

[data-bs-theme="dark"] .my-select__menu {
  background-color: #646464;
  color: black;
}

.toggle-switch {
  width: 60px;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.toggle-switch.dark {
  background-color: #333;
}

.toggle-circle {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  position: absolute;
  left: 3px;
  transition: background-color 0.3s ease;
}

.toggle-switch.dark .toggle-circle {
  background-color: #000;
  color: #f0f0f0;
}

.toggle-switch.light .toggle-circle {
  background-color: #c2b310;
  color: white;
}
