.chat-links {
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #dddddd93;
  border-bottom: 1px solid #dddddd93;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.chat-links:hover {
  background-color: rgba(105, 148, 105, 0.66);
  color: #fff;
}

.chat-links:focus {
  background-color: rgba(105, 148, 105, 0.66);
  color: #fff;
  text-decoration: none;
}

.bg-light {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-column {
  background-color: rgb(128, 177, 128);
}

.header-container {
  background-color: #4a6247;
  color: white;
}

.message-bubble {
  max-width: 40%;
}

.sent {
  background-color: #b8e6b9;
  border-radius: 10px 0px 10px 10px;
}

.received {
  background-color: #f0f0f0;
  border-radius: 0px 10px 10px 10px;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
}

.chat-btn {
  background-color: rgb(128, 177, 128);
  border: 2px solid rgb(128, 177, 128);
  border-radius: 10px;
  color: white;
  padding: 10px;
}
