.chatWindow {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: #ffffff;
  padding: 20px;
  border-left: 2px solid #ddd;
}

.chatWindow {
  width: 75%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-left: 2px solid #ddd;
}

.messageForm {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-top: 2px solid #ddd;
  background-color: #f9f9f9;
}

.message {
  max-width: 70%;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  font-size: 0.9rem;
}

.message.sent {
  align-self: flex-end;
  background-color: #d1f7d1;
  color: #333;
}

.message.received {
  align-self: flex-start;
  background-color: #f1f1f1;
  color: #333;
}
